@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  /* Prevent copy selection */
  font-family: 'Arial', sans-serif;
}

.input {
  @apply w-full rounded-md border border-gray-300 px-3 py-2 text-sm focus:border-blue-500 focus:ring focus:ring-blue-200 outline-none;
}

.degreeTable>td,
.languageTest>td {
  @apply px-6 py-4 whitespace-nowrap border border-gray-200;
}

.tableDataPadding {
  @apply p-4 whitespace-nowrap border border-gray-200;
}

@media print {
  .print-bg {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
}

body {
  background-image: url(/public/sakura-bg.png);
  background-attachment: fixed;

}

@media print {

  html,
  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }

  /* পুরো ফর্ম wrapper কে ছোট করার জন্য */
  .print-scale {
    zoom: 0.66;
    /* সবকিছু shrink করবে */
    transform-origin: top left;
  }

  /* টেবিল সবসময় ফুল-উইডথ */
  table {
    width: 100% !important;
    border-collapse: collapse !important;
    font-size: 9pt;
    table-layout: fixed;
  }

  table th,
  table td {
    border: 1px solid #000 !important;
    padding: 2px !important;
  }

  /* পেজ ব্রেক নিষিদ্ধ */
  * {
    page-break-before: avoid !important;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
  }

  @page {
    size: A4 portrait;
    /* চাইলে landscape করতে পারেন */
    margin: 2mm;
    /* margin ছোট করলে বেশি জায়গা ফিট হবে */
  }

  td,
  th {
    white-space: nowrap;
    /* Text line break বন্ধ করবে */
  }

  /* input {
    white-space: normal;
  } */

}